# Simulation Challenge: Registration

Registration for the 2021 Simulation Challenge Qualification is closed now.
All teams that registered for the qualification tournaments qualified for the 2021 Simulation Challenge in June.
You can find the results below.

Teams,

- **don't forget to register again** using the official RCJ Registration Form until June 7th!
- **don't forget to re-submit your final code** until June 14th (Link will be posted here June 7th).


## Qualification Results

You can find your videos here:

> [Qualification Videos](https://robocupjuniortc.github.io/soccersim-2021/)

You can find your results and standings here:

> [Qualification Results](https://drive.google.com/drive/folders/1xcwpYNHUlltTeizyvSo81SBj051e63mn?usp=sharing)


## Why did my robot not run?

Some (or even most) of your submissions did not run in our simulation environment.
This is mostly due to bad imports or bad code structure.
We will clarify our submission check asap, so you can re-structure your code.
We will also provide an online submission module to live-simulate and debug your code in a few days.

For now, we decided to qualify all teams for the 2021 Simulation Challenge in June.
However, you will need to make your robot run if you want to successfully compete in June,
and then re-submit it until June 14th.
